body{
    margin: 0;
    padding: 0;
    font-family: 'Arimo', sans-serif;
}

footer{
    background-color:#232323;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    padding: 20px 20px 0px 20px;
}

.div-header-nombre-footer{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.div-derechos{
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    display: flex;
    justify-content:center;
}

.div-derechos p{
    font-size: 11px;
}

.div-derechos span{
    font-size: 14px;
}

.div-nombre-footer p{
    text-align: center;
}

span{
    font-weight: 800;
    font-size: 15px;
}

/* Agrega el siguiente código al final de tu archivo footer.css */
footer {
    margin-top: 70rem; /* Ajusta el valor según sea necesario */
}

@media(max-width:720px){
    .div-header-contacto p{
        display:none;
    }

    .div-header-contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .div-header-contacto a{
        margin: 5px;
    }
    .div-nombre-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .div-nombre-footer p{
        font-size: 10px;
    }

    .div-nombre-footer{
        margin: 1rem;
    }
}
