body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Arimo', sans-serif;
}

header{
    /*background-color:#232323;*/
    background-color: rgba(0,0,0,0)!important;
    color: #232323;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    width: 100%;
    height: 10rem;
}

.div-header{
    display: flex;
    justify-content: space-around;  
    background-color: #232323;;
}

.div-menu ul {
    list-style: none!important;
    padding: 0;
}

.div-menu li{
    display: inline-block;
    margin: 0 10px;
    padding: 20px;
}

.div-menu a{
    text-decoration:none;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.div-nombre{
    display: grid;
    align-content: space-evenly;
    color: white;
    font-weight: 800;
    letter-spacing: 2px;
    background-color: #232323;;
}

.div-foto img{
    width: 100%;
}

.texto-imagen {
    position: absolute;
    bottom: 40%; /* Colocar el texto en la parte inferior de la figura */
    left: 50%; /* Centrar horizontalmente el texto */
    transform: translateX(-50%); /* Centrar horizontalmente usando desplazamiento */
    font-size: 55px;
    color: #A58539;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200!important;

    width: 100%;
    text-align: center;
    letter-spacing: 0.1em;
    
    padding: 10px 20px; /* Espacios de relleno alrededor del texto */
    /* Puedes ajustar los estilos según tus necesidades */
}

.texto-imagen p{
    font-size: 20px;
    color: #000000;
    letter-spacing: 0;
}
figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

figure img{
    height: 54rem;
    width: 100%;
    filter: brightness(0.9);
    
}

header {
    margin: 0;
}

.imagen-con-texto {
    margin: 0;
}

/* Para .div-header */
.div-header {
    display: flex;
    align-items: center; /* Alinear verticalmente al centro */
}

/* Para .imagen-con-texto */
.imagen-con-texto {
    display: flex;
    align-items: center; /* Alinear verticalmente al centro */
}

  
  

