body{
    margin: 0;
    padding: 0;
}

header{
    background-color:#232323;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.div-header{
    display: flex;
    justify-content: space-around;
    
}

.div-menu ul {
    list-style: none!important;
    padding: 0;
}

.div-menu li{
    display: inline-block;
    margin: 0 10px;
    padding: 20px;
}

.div-menu a{
    text-decoration:none;
    color: white;
}

.div-menu li:hover{
    background-color: rgb(13, 126, 231);
}

.div-nombre{
    display: grid;
    align-content: space-evenly;
}

.div-foto img{
    width: 100%;
}

.imagen-con-texto {
    position: relative;
    text-align: center; /* Alinear el contenido al centro */
    /* Ajustar el tamaño de la figura según el tamaño de la imagen */
}

.texto-imagen {
    position: absolute;
    bottom: 0; /* Colocar el texto en la parte inferior de la figura */
    left: 50%; /* Centrar horizontalmente el texto */
    transform: translateX(-50%); /* Centrar horizontalmente usando desplazamiento */
    font-size: 18px;
    color: #fff;
    
    padding: 10px 20px; /* Espacios de relleno alrededor del texto */
    /* Puedes ajustar los estilos según tus necesidades */
}
